body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  max-width: 300px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
