body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  max-width: 300px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

input {
  grid-column: span 4;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: right;
  font-size: 1.5em;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  background-color: #ddd;
}
